body {
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.navbar {
    color: white;
    background: linear-gradient(116deg, #8093ff, #201628);
    font-size: x-large;
    justify-content: center;
    margin-bottom: 15px;
}